@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Результат";
}
@model string

<h4 class="display-4">Результат</h4>
<div>
    @foreach (var par in Model.Split('\n'))
    {
        <p class="lead">@par</p>
    }
</div>