@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>На нашем сайте вы можете зашифровать или расшифровать текст одним из методов шифрования.</p>
</div>
